*{ 
    box-sizing: border-box;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
}



.top-bar {
    height: 60px;
    border-bottom: 1px solid #e9ebeb;
    margin: 0 auto;
    width: 96vw;
    max-width: 1200px;
}

.top-bar-center{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

header .logo {
    height: 70%;
}

h1 {
    font-size: 2rem;
    margin-top: 0.6rem;
    margin-bottom: 2rem;
    color: #2e3333;
    font-size: 32px;
 
}

h2 {
    color: #2e3333;
    font-size: 24px;
    line-height: 20px;
    font-weight: bold;
    margin: 20px 0px;
}
.restaurant-div {
    display: flex;
    padding: 30px 0;
    margin: 0 auto;
    width: 96vw;
    max-width: 1200px;
}
.restaurant-infos {
     
    margin-right: 30px;
}

.restaurant-infos p {
    color: #868a8a;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: regular;
}

.restaurant-info-picture img {
    width: 350px;
    border-radius: 5px;
}

body .main-content {
    background-color: #f3f5f5;
    padding: 0px 0px 30px 0px;
    
}

.menu-center {
 
    margin: 0 auto;
    width: 96vw;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.menu {
    flex: 1 1;
    margin-right: 30px;
    margin-bottom: -25px;
}
.menu-items {
   display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.card {
    width: 50%;
    min-width: 300px;
    padding: 0 10px 25px;
}

.card-item {
    border-radius: 5px;
    height: 160px;
    background: #fff;
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    cursor: pointer;
    transition-duration: .3s;
}

.card-with-picture {
    display: flex;
    width: 100%;
}

.card-item:hover {
    box-shadow:0 22px 24px 0 rgb(46 51 51 / 7%);
}

.card-picture{
    height: 130px;
    width: 130px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    
}

.card-picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card-text {
    flex: 1 1;
    margin-right: 15px;
}

.card-text h3 {
    font-weight: 400;
    margin: 0 0 0.5rem;

}

.card-text p {
    font-size: .9rem;
    color: #808484;
    line-height: 1.3rem;
    height: 2.6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 1rem;
}

.popular {
    margin-left: 1rem;
    color: #ff8000;
    font-size: .8rem;
    font-weight: 800;
}

.star svg {
    margin-right: 10px;
} 

.price {
    color: #808484;
    font-size: 1.1rem;
}

.price:hover {
    text-decoration: underline;
}

.basket {
    width: 350px;
    position: sticky;
    top: 0;
}

.basket > div {
    
    box-shadow: 0 22px 24px 0 rgb(46 51 51 / 7%);
    background: #fff;
    border-radius: 4px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 30px 0px;
}

.top-container {
    display: flex;
    justify-content: center;
}


.basket p {
    color: #868a8a;
    text-align: left;

}

.counter-basket  {
    display: flex;
    align-items: center;
    height: 55px;
    padding: 1rem 0;
}
.counter  {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.counter p {
    padding: 0 5px;
}

.counter button {
    background-color: white;
    border: 1px solid #00cdbd;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.basket-items {
  
    margin: 0 10px;
}

.basket-title {
    flex: 1 1;
    color: #2e3333;
}

.basket-price {
    width: 85px;
    text-align: right;
}



.sub-total {
    padding: 10px 0px;
    border-top: 1px solid #a8a8a8;
    border-bottom: 1px solid #a8a8a8;
}

.basket-items .basket-empty {
    text-align: center;
    padding: 3rem 0;
}

.disabled {
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    padding: 1rem;
    cursor: not-allowed;
    background: #bac3c3;
    color: #8b9a9b;
    border: none;
    font-weight: 700;
    font-size: 1rem;
}

.allowed {
    width: 100%;
    margin: 10px;
    border-radius: 5px;
    padding: 1rem;
    background: #00cdbd;
    color: #fff;
    border: none;
    font-weight: 700;
    font-size: 1rem;
}

.sub-total p {
    display: flex;
}

.total h3 {
    display: flex;
    color: #2e3333;
}

@media (max-width: 885px) {
    .restaurant-div {
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
    width: 100%;
}
.restaurant-infos {
    padding: 30px;
}

.restaurant-info-picture img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 0;
}
h1 {
    font-size: 1.5rem;
}
h2 {
    margin: 30px 0;
}
.restaurant-infos p {
    font-size: 1rem;
}

.menu-center {
    display: flex;
    flex-direction: column;
}
.card {
    width: 100%;
}

.basket {
   width: 100%;
}
}
